* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.techComp{
display: block;
}
.container-cont{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}
.techDevice{
    display: none;
}

a{
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #fff;
    height: 80px;
}
.comp{
    display: block;
}

.device{
    display: none;
}
.container {
    display: flex;
    margin-left: 12%;
    margin-top: 8px;
    width: 80%;
    justify-content: space-between;
}
p{
    text-align: justify;
    font-family: Lato;
    font-size: 16pt;
    color: black;
}
.container-content{
    display: flex;
    margin-left: 12%;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-top: 6px;
}

.logo {
    width: 10.2rem;
    height: 69px;
    max-height: 200px;
    object-fit: scale-down;
    object-position: 50% 50%;
}

menu ul li {
    display: inline-block;
    line-height: 55px;
    font-family: Fredoka One;
    color: rgb(113, 89, 193);
    margin-left: 18px;
    border-bottom: 8px solid rgb(122, 96, 209);
    border-bottom-style: dashed;
    height: 50px;
    font-size: 14pt;
}

menu ul {
    list-style-type: none;
}

.banner {
    width: 100%;
    height: 267px;
    background-image: url('/images/Banner.png');
    background-size: 100% 100%;
    object-fit: fill;
    object-position: 25% 25%;
}

.info {
    width: 100%;
    height: 40px;
    background-image: url("/images/BgBlue.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.info1 {
    width: 100%;
    height: 40px;
    background-image: url("/images/BgBlue.png");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

span {
    display: inline-block;
    color: white;
    font-family: Fredoka One;
    font-size: 14pt;
    text-decoration: underline;
    text-transform: uppercase;
}

span:first-child {
    margin-right: 30px;
}

span:last-child {
    margin-left: 30px;
}


.device {
    display: none;
}
.full{
    display: none;
}

.contentMenu{
    display: none;
    opacity: 0;
    transition: 0,4s;
}



@media only screen and (max-width:768px) {
    .imgY{
        width: 100%;
    }
    menu {
        display: none;
    }

    .device {
        display: flex;
        /* align-items: center; */
    }

    .device ul {
        list-style-type: none;
    }

    .device ul li {
        display: block;
        width: 30px;
        height: 10px;
        background-color: rgb(122, 96, 209);
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 2px;

    }

    .full {
        width: 100vw;
        height: 0px;
        position: absolute;
        z-index: 10;
        background-color: rgba(113, 89, 193, 1);
        display: flex;
        margin-top: 77px;
        border-bottom: 18px solid rgba(247, 247, 5, 0.938);
        transition: 0.8s;

        align-items: center;
        justify-content: center;
        /* margin-top: -300px; */
        /* border-bottom-left-radius: 34px;
        border-bottom-right-radius: 34px; */

    }

    .full .contentMenu ul {
        list-style: none;

    }

    .full .contentMenu ul  li {
        text-align: center;
        font-size: 12pt;
        font-family: Fredoka One;
        color:white;
        padding: 9px;
        /* border-bottom: 8px solid rgb(122, 96, 209); */
        margin-top: 4px;
        border-radius: 4px;
        margin-bottom: 8px;
        background-color: rgb(122, 96, 209);
    }

    .comp{
        display: none;

    }

    .device{
        display: block;
    }

   
/* Efeito fechar */
/* ul.menuToggle li:nth-child(2){
    opacity: 0;
}

ul.menuToggle li:nth-child(1){
    
    transform: rotate(60deg);
}

ul.menuToggle li:nth-child(3){
    transform: rotate(120deg);
} */
/* Efeito fechar */



}

@media only screen and (max-width:575px) {
    .techComp{
        display: none;
        }
        
        .techDevice{
            display: block;
        }
}
