<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
        <div class="full">
                <div class="contentMenu">
                    <ul>
                            <a href="/post.html">
                                <li>Blog</li>
                            </a>
                            <a href="/personal_projects.html">
                                <li>Projetos pessoais</li>
                            </a>
                            <a href="/tech.html">
                                <li>Tech Stack</li>
                            </a>
                    </ul>
                </div>
        
            </div>
            <header>
                <div class="container">
                    <a href="/index.html"><img class="logo" src="/images/Original.png" alt="Logo"></a>
                    <article class="device">
                        <ul class="menuToggle">
                            <li>
                                <div class="top"></div>
                            </li>
                            <li>
                                <div class="middle"></div>
                            </li>
                            <li>
                                <div class="bottom"></div>
                            </li>
        
                        </ul>
                    </article>
                    <menu>
                        <ul>
                            <a href="/post.html">
                                <li>Blog</li>
                            </a>
                            <a href="/personal_projects.html">
                                <li>Projetos pessoais</li>
                            </a>
                            <a href="/tech.html">
                                <li>Tech Stack</li>
                            </a>
                        </ul>
                    </menu>
                </div>
        
            </header>
    
    <section>
        <div class="info1">
            <div class="bannerContent">
                <span class="nameTitle">Quem somos?</span>
            </div>
        </div>
    </section>
    
    <div class="container-cont">
        <form>
            <div class="row">
              <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src="/images/Caio.png" class="card-img" alt="Texto">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
              </div>
              <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                    <img src="/images/Korzre.png" class="card-img" alt="Texto">
                                </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
            </div>
            </div>
          </form>
    
    </div>
    <script src="/style1.js"></script>

</body>

</html>