<!-- <head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
</style>
</head> -->


<header>
  <!-- <div style="font-family: 'Walter Turncoat', cursive;" class="logo"> -->
      <div style="font-family: 'Walter Turncoat', cursive;" class="logo">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </div>
  <nav>
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
